SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://your-site.netlify.app
SCOPES=read_themes,write_themes,read_locales
DATABASE_URL=postgresql://neondb_owner:npg_Rdn4GwvWAig6@ep-small-cherry-ayf776tv-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DATABASE_URL_UNPOOLED=postgresql://user:password@ep-example.region.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NODE_ENV=development
