SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://your-site.netlify.app
SCOPES=read_themes,write_themes,read_locales
DATABASE_URL=postgresql://user:password@host:5432/database?sslmode=require
NODE_ENV=development
